---
import MainLayout from "../layouts/MainLayout.astro";
import PostPreview from "../components/PostPreview.astro";
import { getCollection } from "astro:content";

const base = import.meta.env.BASE_URL;
const posts = await getCollection("posts");
---

<MainLayout title="CSS Experiments - Articles">
    <div class="container | padding-block-sm">
        <h1 class="text-primary-darker">Articles</h1>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <PostPreview
                            title={post.data.title}
                            description={post.data.description}
                            published={post.data.published}
                            url={`${base}/posts/${post.id}`}
                        />
                    </li>
                ))
            }
        </ul>
    </div>

    <style>
        @layer blocks {
            ul {
                display: flex;
                flex-direction: column;
                gap: var(--space-sm);
                max-width: clamp(20rem, 50vw, 50rem);
                margin-block-end: var(--space-sm);
            }
        }
    </style>
</MainLayout>
